


#body2{
    display:none;
}
#body1{
    display: block;
}
html,body{padding:0;margin:0}img{border:0}#a,#b{background:#232f3e;padding:11px;height:35px}#c{position:absolute;left:22px;top:12px}#e{position:relative;max-width:800px;padding-right:40px;margin-left:171px}#f,#g{height:35px;border:0;font-size:1em}#f{width:100%;margin:0;padding:0
    10px;border-radius:4px 0 0 4px}#g{cursor:pointer;background:#febd69;font-weight:bold;border-radius:0
    4px 4px 0;-webkit-appearance:none;position:absolute;top:0;right:0;padding:0
    12px}@media(max-width:500px){#e{margin-left:0}#b{padding:55px 10px 10px}#c{left:6px}}#h{text-align:center;margin:30px
    0}#h img{max-width:90%}#d{display:none}#d[src]{display:inline}