#order-online{
    width:(100%-20px);
    height:3200px; /*will adjust when i have made the menu */
    padding:30px;
    font-family: robot1, monospace;
    font-size:60px;
    background-color: rgba(213, 213, 213, 0.5);
    margin-top:20px;
}

#no-restart{

}

#q1{
    text-align: center;
}
#q1 button{
    font-size: 25px;
    padding: 20px 32px;
    font-family: robot1, monospace;
}

#q2{
    display: none;
    text-align: center;
}

#radioNumber3{
    display: none;
    text-align: center;
}

#q2v2{
    display: none;
    text-align:center;
    color:rgb(3, 3, 3);
}

#q2v2 input{
    padding: 20px 32px;
    font-size:30px;
    font-family: robot2, monospace;
    background-color: rgb(111, 111, 111);
    color:white;
}

#menus{
    display:none;
    text-align: center;
}
#free-response{
    display: none;
    text-align: center;
}
#submit{
    display:none;
    text-align: center;
    margin-left: 40px;
    float:right;
}

#submit button{
    font-family: robot1, monospace;
    padding: 20px 32px;
    font-size: 25px;
}

#restart{
    text-align: center;
    margin-left: 40px;
    float:left;
}

#restart button{
    font-family: robot1, monospace;
    padding: 20px 32px;
    font-size: 25px;
}