#good{
    text-align: center;
    background-color: rgb(135, 202, 35);
    width: 300px;
    font-family: monospace;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    display: none;
}

#bad{
    text-align: center;
    background-color: rgb(202, 60, 35);
    width: 300px;
    font-family: monospace;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    display: none;
}

