body{
    background-image: url(../images/paper.jpg);
    background-size:cover;
    font-family: monday, sans-serif;
    font-size: 50px;
    cursor:url('../images/png-transparent-white-cursor-computer-mouse-pointer-mouse-cursor-miscellaneous-angle-white\ -\ Copy.png'), auto;
}

#title{
    font-size: 30px;
    margin: auto;
    text-align: center;
    font-style: italic;
}

h2{
    font-size: 60px;
    font-style: italic;
}
p{
    font-size: 50px;
}