@font-face {
    font-family: nature;
    src: url(../fonts/Naturaly.otf);
}
@font-face {
    font-family: nosy;
    src: url(../fonts/nosynoteDEMO.otf);
}
@font-face {
    font-family: cloudyday;
    src: url(../fonts/KBCloudyDay.ttf);
}