html{
    height:100vh;
    width:100vw;
}
body{
    background-color: rgb(57, 49, 49);
    height:100vh;
    width: 100vw;
    color:white;
    font-family: nature, Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body h1{
    z-index: 10;
    font-size: 50px;
    font-variant: small-caps;
    text-decoration: underline;
    margin:5px;
    position: relative;
    filter:drop-shadow(-7px 7px 7px rgb(0, 0, 0)) ;
    text-align: center;
}
body h3{
    z-index:10;
    font-size: 35px;
    font-variant: small-caps;
    margin:0px;
    position: relative;
    filter:drop-shadow(-7px 7px 7px rgb(0, 0, 0)) ;
    text-align: center;
}
/*displays all items in same line*/
/* .menu{
    z-index: 10;
    display: flex;
    height:60%;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    
} */

/*displays all items on seperate lines*/
.menu{
    z-index: 10;
    display: flex;
    height: 95%;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
}

#backdrop{
    z-index:1;
    background-color: rgb(101, 91, 91);
    filter: blur(5px) opacity(.5) drop-shadow(5px 4px black) ;
    width:100vw;
    height:100vh;
    position: absolute;
}

#home{
    position: relative;
    text-align: center;
}

#homebuttondiv{
    text-align: center;
}


.buttonsy{
    z-index:10;
    border-radius: 12px;
    font-size: 25px;
    font-family: cloudyday, Arial, Helvetica, sans-serif;
    margin: 10px;
    filter:drop-shadow(-7px 7px 7px rgb(0, 0, 0)) ;
    background-color: rgb(133, 89, 89);
    border: 1px solid black;

}
.buttonsy:hover{
    background-color: rgb(78, 199, 158);
}

