input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(46, 46, 46);
    color: rgb(253, 255, 233);
    font-family: monospace;
    outline: none;
  }
  
  #log{
    display: none;
}

#deleted{
  display: none;
}