body{
    background-image:url("../images/windowswithframe.jpeg");
    background-size:cover;
    background-position-y: -60px;
    cursor:url(../images/cursor.png), auto;
    width:100%;
    font-family:sans-serif;
    font-weight: bolder;
}

html
{
    overflow: hidden;
}

body
{
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    width: 100%;
    /* border:rgb(14, 255, 34) 3px solid;  */
}

.folder{
    width:60px;
    height: 50px;
    background-image: url(../images/folder.png); 
    background-size: cover;
    border: 1px red solid;
    cursor:url(../images/curser_over.png), auto;   
}
a{
    width:60px;
    cursor:url(../images/curser_over.png), auto;   
    color:black;
    text-decoration: none;
}

#one{
    margin-left:11%;
    margin-top:5%;
}
#two{
    margin-left:11%;
    margin-top:4%;
}
.item{

    width:60px;
    height: 50px;
}

#resnick{
    display:none;
}
#portal{
    display: none;
}