/* Global Styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

/* Header Styles */
#header {
  background-color: #161d24;
  color: #ffffff;
  padding: 20px;
}

/* Current Trends Styles */
#current-trends {
  background-color: #f2f2f2;
  padding: 50px;
}

#current-trends ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#current-trends li {
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #161d24;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  flex-basis: 25%;
}

/* Current Applications Styles */
#current-applications {
  background-color: #ffffff;
  padding: 50px;
}

#current-applications ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#current-applications li {
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #161d24;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  flex-basis: 25%;
}

/* Ethical Considerations Styles */
#ethical-considerations {
  background-color: #f2f2f2;
  padding: 50px;
}

#ethical-considerations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ethical-considerations li {
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #161d24;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

/* Future Developments Styles */
#future-developments {
  background-color: #ffffff;
  padding: 50px;
}

#future-developments ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#future-developments li {
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #161d24;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

/* History of AI Styles */
#history-of-ai {
  background-color: #f2f2f2;
  padding: 50px;
}

#history-of-ai ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#history-of-ai li {
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #161d24;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

/* Future Implications Styles */
#future-implications {
  background-color: #222;
  color: #fff;
  padding: 50px;
  text-align: center;
}

#future-implications h2 {
  font-size: 36px;
  margin-top: 0;
}

#future-implications ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#future-implications li {
  display: inline-block;
  margin: 20px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

#future-implications li:hover {
  color: #00FFFF;
  text-decoration: underline;
}

#conclusion {
  background-color: #00FFFF;
  color: #222;
  padding: 50px;
  text-align: center;
}

#conclusion h2 {
  font-size: 36px;
  margin-top: 0;
}

#conclusion p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 0;
}

#theme-select {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

#human-mode {
  position: fixed;
  top: 10px;
  right: 160px;
  z-index: 9998;
  
}